.Accueil {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    .imgPrincipale {
        position: absolute;
        top: 0px;
        //width: 50%;
        height: 100vh;
        overflow: hidden;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        
        img {
            z-index: 8;
            width: 100vw;
            margin-left: -25%;
            margin-top: -15%;
            min-height: 100%;
        }
    }
    
    .navPrincipale {
        z-index: 10;
        //display: none;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 50%;
        height: 100vh;
        margin-left: 50%;
        overflow: hidden;
        background-color: rgb(82, 6, 50);
        .titre-entete {
            padding: 0;
            margin: 5% 0 0 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            .logo-img {
                width: 50px;
            }
            p {
                margin: 0;
                padding: 0;
                color: white;
                font-size: 40px;
            }
        }
        
        ul {
            padding: 0;
            margin: 0;
            height: 100vh;
            list-style: none;
            text-align: center;
            font-size: 1.8em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            li {
              cursor: pointer;
              
                a {
                    text-decoration: none;
                    color: rgb(153, 153, 153);
                }
                a:hover {
                    color: white;
                    text-decoration: underline;
                    padding: 0 15% 5px 15%;
                    background: radial-gradient(circle, rgba(139,0,81,1) 0%, rgba(139,0,81,1) 47%, rgba(252,70,107,0) 100%);
        
                }
                span {
                    font-size: 0.7em;
                    text-decoration: none;
                    color: rgb(153, 153, 153);
                }
                span:hover {
                    color: white;
                    text-decoration: underline;
                    padding: 0 15% 5px 15%;
                    background: radial-gradient(circle, rgba(139,0,81,1) 0%, rgba(139,0,81,1) 47%, rgba(252,70,107,0) 100%);
                }
            }
        }
    }

    @media only screen and (max-width: 700px) {
        
            .imgPrincipale {
                top: 0px;
                width: 100vw;
                height: 50%;
                img {
                    margin-top: -10%;
                    margin-left: 0;
                }
            }
            
            .navPrincipale {
                top: 50%;
                width: 100vw;
                height: 50%;
                margin: 0%;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .titre-entete {
                    padding: 0;
                    margin: 0 0 0 2%;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    .logo-img {
                        height: 50px;
                        width: 50px;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                        color: white;
                        font-size: 1.5em;
                    }
                }
                ul {
                    height: 50%;
                    width: 100%;
                    justify-content: space-between;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            font-size: 0.65em;
                            color: rgb(255, 255, 255);
                        }
                        a:hover {
                            text-decoration: none;
                            padding: 0;
                            background: none;
                
                        }
                        span {
                            font-size: 0.35em;
                            color: rgb(255, 255, 255);
                        }
                        span:hover {
                            text-decoration: none;
                            padding: 0;
                            background: none;
                        }

                    }
                        
                }
            }
        
    }

}