.Entete {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 10;
    display: flex;
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    height: 50px;
    background-color: rgb(82, 6, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    align-items: center;
    //transform: translateY(-50px);

   
}
@media only screen and (max-width: 700px) {
    .Entete {
        margin-top: -60px;
        .logo {
            margin: 0;
            padding: 0;
        }
    }
}