.Pied2Page {
        padding: 0;
        margin: 0;
    .contenu{
        background-color: yellowgreen;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            color: white;
            font-size: 10em;
            align-self: center;
        }
        p {
            align-self: center;
        }

    }
}