.Pied2Page {
        padding: 0;
        margin: 0;
        position: sticky;
        bottom: 0;
        z-index: 7;
        width: 100vw;
    .contenu{
        height: 50px;
        color: white;
        border-top: 1px solid white;
        background-color: rgba(82, 6, 50, 0.349);
        //background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        p {
        padding: 0;
        margin: 0;
        }

    }
}

@media screen and (max-width: 700px) {
    .Pied2Page {
        .contenu {
            p {
                font-size: 0.7em;
            }
        }
    }
}