.Projet {
    width: 300px;
    height: 400px;
    align-self: center;
    background-color: lightblue;
    margin-top: 40px;
    color: white;
    .info {
        padding-left: 5%;
    }
    .btn {

    }
    .btnMVI{
        float: right;
        margin-right: 5%;
    }
}